.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-border-bg-light);
}

.container {
  width: 600px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-bg-dark);
}
.header button {
  position: fixed;
  margin-left: 35px;
  background: none;
  border: none;
}
.header h3 {
  margin: auto;
  padding: 0.8rem;
}

.box {
  padding: 2.2rem;
}
.title {
  font-size: 22px;
  font-weight: 600;
  height: 50px;
}
.signup_txt {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-border);
  /* text-decoration: none; */
}

.input_area {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.input_area input {
  width: 100%;
  padding: 24px 10px 8px;
  border: 1px solid var(--color-border-bg-dark);
  border-radius: 8px;
  font-size: 14px;
  color: black;
  outline: none;
}
.input_area .label {
  padding: 0.5rem;
  position: absolute;
  margin-left: 5px;
  font-size: 12px;
  color: var(--color-etc);
}
.input_area .warning {
  padding: 0.5rem;
  position: absolute;
  margin-left: 5px;
  font-size: 12px;
  color: var(--color-main) !important;
}

/* or_txt */
.or_txt:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--color-border-bg-dark);
  width: 44%;
  height: 1px;
}
.or_txt {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 25px 0;
  position: relative;
}
.or_txt:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  background-color: var(--color-border-bg-dark);
  width: 44%;
  height: 1px;
}

/* 버튼 */
.login_btn {
  width: 100%;
  padding: 0.8rem;
}

.simple_login_btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.simple_login_btn button {
  padding: 0.8rem;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--color-border);
}
.simple_login_btn button:hover {
  background-color: var(--color-border-bg-light);
}

.kakao_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.kakao_btn img {
  position: absolute;
  left: 20px;
}
.google_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.google_btn img {
  position: absolute;
  left: 20px;
}

@media screen and (max-width: 700px) {
  .wrap .container {
    width: 400px;
  }
}
