.CommonDescrition {
  padding: 32px 0;
}
.CommonDescritionTitle {
  font-size: 32px;
  margin-bottom: 16px;
}
.CommonDescritionTitle > span {
  font-weight: 700;
}
.CommonText {
  margin-bottom: 16px;
}
.CommonTextMore {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
