.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1120px;
  min-width: 660px;
  padding: 20px 20px;
  margin: 0 auto 50px auto;
  font-size: var(--font-size-content);
}

.contentsDiv {
  display: flex;
  justify-content: space-between;
}
.TextDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  max-width: 650px;
  /* height: 1000px; */
}
.tagGroup {
  display: flex;
  height: 110px;
  gap: 50px;
  margin: 0 auto;
}
.tag {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  color: #717171;
  margin-bottom: 20px;
}
.tag:hover {
  color: var(--color-border);
  border-bottom: 2px solid #717171;
  cursor: pointer;
}
.tagIcon {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 7px;
}

.reviewButtonGroup {
  margin: 10px 0;
}
.button {
  display: flex;
  gap: 7px;
  background-color: white;
  font: inherit;
  border: none;
  border-radius: 8px;
  color: var(--color-border);
  padding: 0.25rem 1rem;
  cursor: pointer;
  padding: 8px;
}
.button:hover {
  background-color: var(--color-border-bg-light);
}
