.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 870px;
  padding: 20px 20px;
  margin: 0 auto 50px auto;
  font-size: var(--font-size-content);
}

.contentsDiv {
  display: flex;
  justify-content: space-between;
}
.TextDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 1000px;
}
.tagGroup {
  display: flex;
  height: 110px;
  gap: 50px;
  margin: 0 auto;
}
.tag {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  color: #717171;
  margin-bottom: 20px;
}
.tag:hover {
  color: var(--color-border);
  border-bottom: 2px solid #717171;
  background-color: var(--color-border-bg-light);
  cursor: pointer;
}
.tagIcon {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 7px;
}

.reservationContent {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  min-width: 285px;
  height: 400px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  padding: 24px;
  margin-bottom: 35px;
}
.button {
  background-color: white;
  font: inherit;
  border: none;
  border-radius: 8px;
  color: var(--color-border);
  padding: 0.25rem 1rem;
  cursor: pointer;
  padding: 8px;
  text-decoration: underline;
}
.button:hover {
  background-color: var(--color-border-bg-light);
}
.reviewButtonGroup {
  margin: 10px 0;
}
.commentBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.3);
}
.commentDiv {
  display: flex;
  gap: 15px;
  margin-bottom: 38.5px;
}
.commentButton {
  width: 10%;
  padding: 5px;
}
