/* 버튼 */
.button {
  font: inherit;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    var(--color-button) 5%,
    var(--color-button-hover) 100%
  );
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/* 카드 */
.card {
  border-radius: 15px;
  background: white;
  box-shadow: 0 2px 8px raba(0, 0, 0, 0.26);
}
