/* layout */
.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
}

/* header */
.headerContainer {
  /* 신규 헤더 컨테이너 부분 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-border-bg-dark);
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  min-width: 870px;
  margin: 0 auto;
}

.headerButtonGroup {
  display: flex;
  padding: 18px;
  font-size: 15px;
}

.logo_btn {
  color: var(--color-main);
}
.logo_btn img {
  margin-left: 30%;
  height: 40px;
}

.right_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons {
  padding: 1px 8px;
  display: flex;
  justify-content: space-around;
  gap: 2px;
  border: 1px solid var(--color-border-bg-dark);
  width: 100px;
  border-radius: 20px;
}
.icons_login {
  background: none;
  width: 35px;
  height: 35px;
  border: none;
}
.icons_login:hover {
  box-shadow: 0 4px 4px -4px black;
}
.icons_my_btn {
  background: none;
  width: 35px;
  height: 35px;
  border: none;
}
.icons_my_btn:hover {
  box-shadow: 0 4px 4px -4px black;
}

/* footer */
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  color: var(--color-border);
  justify-content: center;
  align-items: center;
}
